@use '../helpers' as *;

.button{
    border-radius: rem(4);
    padding: rem(6);

    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    background: none;
    border: none;
    &_blue{
        background-color: var(--blue);
        color: var(--white);

        @include hover{
            opacity: .8;
        }
    }
    &_grey{
        background-color: var(--grey);
        color: var(--dark);

        @include hover{
            opacity: .8;

            & svg *{
                fill: var(--blue);
            }
        }
    }

    &_h-40{
        height: rem(40);
    }
    &_h-42{
        height: rem(42);
    }
    &_h-48{
        height: rem(48);
    }

    &_square{
        aspect-ratio: 1;
    }

    &_icon{
        @include square(20);

        margin-top: rem(-2);
        margin-right: rem(10);
        display: flex;
    }

    &_border{
        border: 1px solid var(--border);
    }

    &_icon-single{
        & svg{
            @include square(rem(24));
        }

        @include hover{
            opacity: .8;
            background-color: var(--grey);

            & svg *{
                fill: var(--blue);
            }
        }
        
    }

    &_t-blue{
        color: var(--blue);
    }
}

.button-menu{
    border-radius: rem(4);
    padding: rem(6);
    width: rem(100);
    height: rem(48);
    background-color: var(--blue);
    border: none;
    position: relative;

    & span{
        transition: all var(--transition-duration);

        &:nth-child(1){
            position: absolute;
            top: rem(16);
            left: rem(30);
            width: rem(38);
            height: rem(2);
            background-color: var(--white);
            border-radius: rem(1);
        }
        &:nth-child(2){
            position: absolute;
            top: rem(23);
            left: rem(30);
            width: rem(24);
            height: rem(2);
            background-color: var(--white);
            border-radius: rem(1);
        }
        &:nth-child(3){
            position: absolute;
            top: rem(30);
            left: rem(30);
            width: rem(38);
            height: rem(2);
            background-color: var(--white);
            border-radius: rem(1);
        }
    }


    @include hover{
        opacity: .8;
    }

    &.open{
        background-color: var(--grey);

        & span{
            background-color: var(--dark);

            &:nth-child(1){
                top: rem(24);
                transform: rotate(45deg);
            }
            &:nth-child(2){
                width: rem(0);
            }
            &:nth-child(3){
                top: rem(23);
                transform: rotate(-45deg);
            }
        }
    }
}