@use '../helpers' as *;

.hero{
    padding: rem(84) 0;

    background: linear-gradient(135deg, #672870 20%, #4fe0ff 100%);

    position: relative;
    overflow: hidden;

    &__images{
        position: absolute;
        top: rem(-100);
        right: rem(-200);
        width: rem(770);
    }

    &__title{
        max-width: rem(730);
    }
    &__sub-title{
        padding-top: fluid(26, 14);
        max-width: rem(640);
        color: var(--white);
    }
    &__link{
        margin-top: fluid(26, 20);

        display: flex;
    }
}