@font-face {
    font-family: "Maza";
    src: local("Maza"),
      url("../fonts/Maza.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Tenor Sans";
    src: local("TenorSans"),
        local("Tenor-Sans"),
        url("../fonts/TenorSans.woff2") format("woff2");
    font-weight: normal;
}